/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: url(./images/Catwallpaper.webp);
background-position: flex; 
}
.bar{
  background-color: #ffffff;
}
h2 {
  font-style: italic;
  margin: 0; /* Reset default margin */
}


/* Typography */
.primary-title {
  font-size: 90px;
  color: #fff; /* Make text vibrant */
}

/* Buttons */
.primary-button,
.secondary-button {
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.primary-button {
  background: linear-gradient(45deg, #FF6F61, #FFD166); /* Use vibrant gradient */
  color: #fff;
}

.secondary-button {
  color: #fff;
  background: linear-gradient(45deg, #06D6A0, #118AB2); /* Use vibrant gradient */
  border: none;
}

.secondary-button:hover {
  background: linear-gradient(45deg, #FF6F61, #FFD166); /* Use vibrant gradient on hover */
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .nav-button {
  font-size: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 162, 0);
  border: 1px solid rgba(104, 85, 224, 1);
}
nav .Title{
  margin-left: 0;
  font-size: 50px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .Sub{
  margin-left: 0;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav .nav-button:disabled {
  background-color: rgb(106, 244, 138);
}

/* Home Page */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.home {
  margin-top: 20vh;
}

/* Auth Modal */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  max-width: 360px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
  border: 1px solid #ccc; /* Add border for contrast */
}









/*---- Onboarding Page ----*/

.onboarding {
  border-top: solid 1px rgb(213, 213, 213);
  background-image:url('https://cdn.shopify.com/s/files/1/0633/7039/5889/files/blackcat_desktopwallpaper_widescreen_blogpic.jpg');
  padding: 5px;
  margin-right: flex;
  margin-left: 200px;
  width: 80%;
  justify-content: center;

}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="number"] {
  width: 30%;
}

.onboarding form input[type="radio"]:checked+label {
  border: solid 2px rgb(22, 221, 205);
}

.onboarding form input[type="submit"]:active {
  background-color: rgb(24, 178, 124);
}

.onboarding form input[type="radio"]:active {
  background-color: deepskyblue;
}

.onboarding form .photo-container img {
  width: 100%;
}







/*---- Dashboard ----*/
.dashboard {
  display:flex;
  justify-content: space-between;
}

.dashboard .card-container {
  width: 400px;
  height: 600px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

h2 {
  margin: 0;
}

p {
  color: #000000;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.buttons {
  display: flex;
  margin-top: 16px;
}

button {
  font-size: 16px;
  margin: 0 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color:rgb(22, 221, 205);
  border-radius: flex;
}

/*----Chat container----*/

.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}

.chat-container .chat-container-header {
  background: linear-gradient(45deg, rgb(48, 237, 254), rgb(255, 89, 64));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px rgb(33, 243, 226);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

/*-------- Chat Display --------*/
.chat-display{
  width: 500px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  padding: 10px;
}

.message {
  background-color: #007bff;
  color: white;
  max-width: 80%;
  margin-bottom: 10px;
  margin-left: 80%;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-start;
}

.message:last-child {
  margin-bottom: 0;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
}

.input-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #0056b3;
}




/*-------- Chat Input --------*/
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.input-field { 
  background-color: #FFD166;
}



.popover {
  
}